body {
	background-color: white;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

h2 {
    font-family: 'Nunito', sans-serif;
}

h3 {
    font-family: 'Nunito', sans-serif;
}

h4 {
    font-family: 'Nunito', sans-serif;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin-top: 50px;
	margin-bottom: 100px;
	margin-right: 150px;
	margin-left: 80px;
}

p {
	font-size: 14px;
	width: 720;
}

.somecode {
	margin-left: 30px;
	font-color: "red";
}